html,body{
  width:100%;
  height:100%;
}

.container{
  width:100%;
  height:100%;
  position:relative;
}

.joystick{
  height:100%;
  width:50%;
  float:left;
  position:relative;
  text-align:center;
}

.joystick-button{
  height:25%;
  width:25%;
  background-color:transparent;
  border-width:5px;
  border-color:#000000;
  display:block;
  margin:0 auto;
  transition: background-color 0.2s;
}

.joystick-button:active{
  background-color:#000000;
}
.joystick-button:active i{
  color:#FFFFFF;
}

.joystick-button.joystick-left,.joystick-button.joystick-right{
  display:inline-block;
}